
<div class="about-container">
    <div class="course_details">
        <div class="code-title">
            <h1 id ="ccid"><%-ccid%></h1>
            <h2 id ="title"><%-title%></h2> 
        </div>

        <h4>Department: </h4> 
        <span id="department"><%-department%></span>

        <h4>Credits: </h4> 
        <span id="credits"><%-credits%></span>

        <h4>Class description: </h4>
        <span id="description"><%-description%></span>

        <h4>Can be audited</h4>
        <span id="audit"><%-audit%></span>
        
        <h4>Course Learning Outcomes</h4>
        <span id="clos"><%-clos%></span>

        <h4>Prerequesits</h4>
        <%if (prereq) {%>
            <span id="prereq"><%-prereq%></span> 
        <%}else {%>
            <span id="prereq">None</span> 
        <%}%>
    </div>
    
    <div class="course_reviews">
        <%if (reviews) {%>
            <%-reviews%>
        <%}else {%>
            <p>No reviews yet</p> 
        <%}%>
    </div>
</div>